/* 
   Standardne laadileht, kasutusel repodes: TARA-Doku, eIDAS-Connector
*/

/*#region Paigutus */
body {
  max-width: 55em;
  margin: 0 0; 
  padding: 0 0 2em 0; 
  /* font-family: 'Segoe UI', Arial, serif; */
  font-family: Arial, sans-serif;
  font-size: 17px; 
  color: #222325 !important;
  line-height: 1.4 !important;
  }

/* Päis ja jalus */
.pais, .jalus {
  max-width: 45rem;
  padding-top: 1em;
  padding-left: 2em;
}
.pais { 
  background-color: whitesmoke;
  margin-bottom: 8px;
  padding-bottom: 0.6em;
  margin-bottom: 4em;
}
.jalus {
  border-top: 1px solid #607D8B;
  margin-top: 4em;
  padding-bottom: 4em;
}

#Tekst { width: 45rem; margin-left: 2em; }

/* ---- Avalehe paigutus ---- */  
#Container { display: flex; max-width: 60em; }
#Avatekst {
  flex-grow: 1; margin-left: 2rem;
  max-width: 63rem; /* Teksti loetavuse huvides */
}  
/*#endregion */

/*#region Pealkirjad */
h1 {
  font-size: 24px !important;
  font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1rem;
}
h2 {
  /* font-size: 13pt !important; */
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
h3, h4 {
  font-size: 1em !important;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
/*#endregion */

/*#region Tekst */
p { margin: 0 0 1em 0; }

.vaike { font-size: 9pt; }

/* Allkriipsutus */
.u { text-decoration: underline; }

/*#endregion */

/*#region Loetelud */
#Tekst ul {
  list-style-type: '-  ';
  margin: 0 0 1em 0;
  padding-left: 1em;
}  

#Tekst > ol {
  padding-left: 1em;
}  
/*#endregion */

/*#region TOC genereeritud === */
#markdown-toc { padding-left: 0 !important; }
#markdown-toc li:before {
    content: none !important;
    margin-left: 0 !important;
}    
#markdown-toc li {
  list-style-type: '   ' !important;
}  
/*#endregion */

/*#region Tabelid */
table { width: 100%; margin: 0 4em 2em 0; }
table { border-collapse: collapse; }    
table, th, td { border: 1px solid lightgray; }
th, td { padding: 8px; }
th { font-weight: normal; font-style: italic; text-align: center; }
/*#endregion */

/*#region Kood; asciiflow joonised */
pre, code, samp {
  font-family: monospace;
  font-size: 17px;
  color: black !important;
  background-color: #f6f8fa; /* nagu GitHubis */
  white-space:pre-wrap;
  overflow-y: hidden; overflow-x: hidden;
  page-break-inside: avoid; hyphens: none;
  text-transform: none;
}
pre code,
code code {
  font-size: 100%;
}
pre { margin-top: 1em; margin-bottom: 1em; }
/*#endregion */

/*#region Lingid */
a[href] {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 1px dotted #607D8B;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}
a:visited {
  border-bottom-color: #607D8B;
}

a[href]:focus,
a[href]:hover {
  background: #607D8B;
  background: rgba(75%, 75%, 75%, .25);
  border-bottom-width: 3px;
  margin-bottom: -2px;
}
/*#endregion */

/*#region Paneelid */
.silt { 
  border-radius: 4px; padding: 0.2rem 0.3rem;
  border-color: DarkCyan;
  background-color: Azure;
  color: Teal;
  text-align: center;
}
a.nupp {
  display: inline-block;
  border-radius: 8px; padding: 0.5rem 1rem !important; margin: 1rem !important;
  color: Black;
  border: 1px solid CadetBlue;
  text-decoration: none !important;
}
a.nupp:focus,
a.nupp:hover {
  border-bottom-width: 1px;
  margin-bottom: 1rem;
  border: 1px solid Black !important;
  text-decoration: none !important;
}

.note, .adv {
  padding: .5em;
  border: .5em;
  border-left-style: solid;
  page-break-inside: avoid;
  margin: 1em auto;
}  

.note {
  border-color: #52E052;
  background: #F6F9F8;
  overflow: auto;
}

.adv {
  border-color: orange;
  border-style: none solid;
  background: #FFEECC;
}

/*#endregion */