/* 
   Standardne laadileht, kasutusel repodes: TARA-Doku, eIDAS-Connector
*/

/*#region Valgustusrežiim */
html, html[data-theme='light'] {
  --tavaline-tekst: #222325;
  --taust: White;
  --note-taust: #F6F9F8;
  --adv-taust: LavenderBlush;
  --kood: #222325;
  --koodi-taust: #f6f8fa; /* nagu GitHubis */
  --koodi-serv: Whitesmoke;
  --arenduses: Tomato;
}

html[data-theme='dark'] {
  --tavaline-tekst: Silver;
  --taust: Black;
  --note-taust: DimGray;
  --adv-taust: DimGray;
  --kood: Silver;
  --koodi-taust: Black;
  --koodi-serv: DimGrey;
  --arenduses: Gray;
}

#valgus {
  padding: 0 0 0.2rem 0.2rem;
  font-size: 20px;
}
#paike, #kuu {
  cursor: pointer;
}
/*#endregion */

/*#region Paigutus */
body {
  display: flex;
  height: 100vh;
  /* max-width: 55em; */
  margin: 0 0; 
  padding: 0 0 2em 0; 
  /* font-family: 'Segoe UI', Arial, serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 17px; 
  color: var(--tavaline-tekst) !important;
  background-color: var(--taust);
  line-height: 1.5 !important;
  }

aside, article {
  overflow-y: auto;
  padding: 2em;
}
  
aside {
  flex: 1;
}
  
article {
  flex: 4;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

/* Külgriba */
aside {
}
aside li {
  margin-bottom: 1rem;
}
vanasona {
  font-size: 15px;
}

#pealkiri {
  // font-size: 24px !important;
  // font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
}

/* Päis ja jalus */
.jalus {
  max-width: 45rem;
  padding-top: 1em;
  border-top: 1px dotted lightgrey;
  margin-top: 4em;
  padding-bottom: 4em;
}

article {
  width: 45rem;
  margin-left: 2em;
}

/* ---- Avalehe paigutus ---- */  
#Container { display: flex; max-width: 60em; }
#Avatekst {
  flex-grow: 1; margin-left: 2rem;
  max-width: 63rem; /* Teksti loetavuse huvides */
}  
/*#endregion */

/*#region Pealkirjad */
h1 {
  font-size: 24px !important;
  font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1rem;
}
h2 {
  /* font-size: 13pt !important; */
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
h3, h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
/*#endregion */

/*#region Tekst */
p { margin: 0 0 1em 0; }

.vaike { font-size: 9pt; }

/* Allkriipsutus */
.u { text-decoration: underline; }

/*#endregion */

/*#region Loetelud */
ul {
  list-style-type: circle;
  margin: 0 0 1em 0;
  padding-left: 1em;
}
ul ul {
  margin-bottom: 0;
}
ol {
  padding-left: 1em;
}

/*#endregion */

/*#region TOC genereeritud === */
#markdown-toc { padding-left: 0 !important; }
#markdown-toc li:before {
    content: none !important;
    margin-left: 0 !important;
}
#markdown-toc, #markdown-toc ul {
  list-style-type: none;
}
/* Sisukorras ülemise taseme üksused eraldada tühiridadega */
#markdown-toc > li {
  margin-top: 1rem;
}  
/*#endregion */

/*#region Tabelid */
table { width: 100%; margin: 0 4em 2em 0; }
table { border-collapse: collapse; }    
table, th, td { border: 1px solid lightgray; }
th, td { padding: 8px; }
th { font-weight: normal; font-style: italic; text-align: center; }
/*#endregion */

/*#region Kood; asciiflow joonised */
pre, code, samp {
  font-family: monospace;
  font-size: 17px;
  color: var(--kood) !important;
  background-color: var(--koodi-taust);
  border: 1px solid var(--koodi-serv);
  border-radius: 4px;
  padding: 4px;
  white-space:pre-wrap;
  overflow-y: hidden; overflow-x: hidden;
  page-break-inside: avoid; hyphens: none;
  text-transform: none;
}
/* Mitmerealised kooditükid, nn "tarade" vahel esitatakse
  <pre><code> ... kujul. Nendel ääris sea ainult pre elemendile
*/
pre code,
code code {
  border: none;
  font-size: 100%;
}
pre { margin-top: 1em; margin-bottom: 1em; }
/*#endregion */

/*#region Lingid */
a[href] {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 1px dotted #607D8B;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}
a:visited {
  border-bottom-color: #607D8B;
}

a[href]:focus,
a[href]:hover {
  background: #607D8B;
  background: rgba(75%, 75%, 75%, .25);
  border-bottom-width: 3px;
  margin-bottom: -2px;
}
/*#endregion */

/*#region Paneelid */
.note, .adv {
  padding: .5em;
  border: .5em;
  border-left-style: solid;
  page-break-inside: avoid;
  margin: 1em auto;
}  

.note {
  border-color: Darkgray;
  background: var(--note-taust);
  overflow: auto;
}

.adv {
  border-color: tomato;
  border-style: none solid;
  background: var(--adv-taust);
}

.arenduses {
  color: var(--arenduses);
  font-style: italic
}

/*#endregion */

/*#region Abi */
.hidden {
  display: none;
}
/*#endregion */

