{% comment %} 
  Toetab kuni kolme taset.
{% endcomment %} 

<aside>
  <div>
    <span id='paike' class='hidden'>☼</span>
    <span id='kuu'>☽</span>
  </div>
  <p class='vanasona'>
    <i>Teen tara, teritan teivast, et ei susi sisse pääse ega hunti üle hüppa ega karu üle karga. (Ambla)</i>
  </p>
  <p id='pealkiri'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href='{{ site.baseurl }}'>
      TARA
    </a>
  </p>
  <ul>
    {% assign id_count = '' %}
    {% for nav in site.data.Riba %}
      {% if nav.categories != null %}
        {% assign id_count = id_count | append: 'x' %}
        <li{% if nav.title == page.title %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
          <!-- Alammenüü lüliti --> 
          <span id="{{ id_count.size }}" class="lyliti"> ▼ </span>
          <ol id="alammenyy{{ id_count.size }}" class='alammenyy'>
          {% for subcategory in nav.categories %}
            <li{% if subcategory.title == page.title %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}{{ subcategory.url }}">
                {{ subcategory.title }}
              </a>
              {% if subcategory.type == "Oluline" %}
                  <span style='color: red;'>OLULINE!</span>
              {% endif %}
            </li>
            {% if subcategory.categories != null %}
              <ol class='alammenyy2'>
              {% for subitem in subcategory.categories %}
                <li{% if subitem.title == page.title %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}{{ subitem.url }}">
                    {{ subitem.title }}
                  </a>
                  {% if subitem.type == "Oluline" %}
                    <span style='color: red;'>OLULINE!</span>
                  {% endif %}
                </li>
              {% endfor %}
              </ol>
            {% endif %}
          {% endfor %}
          </ol>
        </li>
      {% else %}
          <li{% if subitem.title == page.title %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}{{ nav.url }}">
            {{ nav.title }}
          </a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
</aside>
