<!DOCTYPE html>
<html>

<!-- Navigeerimispäisega leht. -->

<head>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  <!-- Material Design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/Github.css">

</head>

<body>
  {% include Pais.html %}
  
  <div id='Tekst'>      
    {{ content }}
  </div>
  
  {% include Jalus.html %}
</body>

</html>